* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
    font-family:'Urbanist', sans-serif;
    background-color: #DCD6D6;
}

/* Landing Start */
#landing {
	background-image: url("./images/bgleaf.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
  font-size: 4vw;
}
/* Landing End */

/*Navbar Start*/
.navbar {
	background-color: #C5B8B0;
}
/*Navbar End*/

/* Intro Text Start */
.blink-message {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
/*  width: 100vw;*/
}

h1 {
  color: #333;
  font-family: tahoma;
  font-size: 3rem;
  font-weight: 100;
  line-height: 1.5;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  width: 550px;
}

h1 span {
  font-size: 40px;
  margin-left: 80px;
}

.title-1 {
  color: #333;
  font-size: 3rem;
  justify-content: center;
  align-items: center;
}

.message {
  background-color: #dc9337;
  color: #333;
  display: block;
  font-weight: 900;
  overflow: hidden;
  position: absolute;
  padding-left: 0.5rem;
  top: 0.2rem;
  left: 180px;
  animation: openclose 5s ease-in-out infinite;
}

.word1, .word2, .word3 {
  font-family: tahoma;
}

@keyframes openclose {
  0% {
    top: 0.2rem;
    width: 0;
  }
  5% {
    width: 0;
  }
  15% {
    width: 500px;
  }
  30% {
    top: 0.2rem;
    width: 450px;
  }
  33% {
    top: 0.2rem;
    width: 0;
  }
  35% {
    top: 0.2rem;
    width: 0;
  }
  38% {
    top: -4.5rem;
    
  }
  48% {
    top: -4.5rem;
    width: 320px;
  }
  62% {
    top: -4.5rem;
    width: 200px;
  }
  66% {
    top: -4.5rem;
    width: 0;
    text-indent: 0;
  }
  71% {
    top: -9rem;
    width: 0;
    text-indent: 5px;
  }
  86% {
    top: -9rem;
    width: 1000px;
  }
  95% {
    top: -9rem;
    width: 1000px;
  }
  98% {
    top: -9rem;
    width: 0;
    text-indent: 5px;
  }
  100% {
    top: 0;
    width: 0;
    text-indent: 0;
  }
}
/* Intro Text End */

/* About me Start*/
.title-word {
  animation: color-animation 4s linear infinite;
}

.title-word-1 {
  --color-1: #DF8453;
  --color-2: #3D8DAE;
  --color-3: #E4A9A8;
}

.title-word-2 {
  --color-1: #DBAD4A;
  --color-2: #ACCFCB;
  --color-3: #17494D;
}

.title-word-3 {
  --color-1: #ACCFCB;
  --color-2: #E4A9A8;
  --color-3: #ACCFCB;
}

.title-word-4 {
  --color-1: #3D8DAE;
  --color-2: #DF8453;
  --color-3: #E4A9A8;
}

@keyframes color-animation {
  0%    {color: var(--color-1)}
  32%   {color: var(--color-1)}
  33%   {color: var(--color-2)}
  65%   {color: var(--color-2)}
  66%   {color: var(--color-3)}
  99%   {color: var(--color-3)}
  100%  {color: var(--color-1)}
}

/* Here are just some visual styles. */

/*.container {
  display: grid;
  place-items: center;  
  text-align: center;
  height: 60vh
}*/

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 5vw;
  text-transform: uppercase;
}

.subtitle {
  font-family: "Monaco", monospace;
  font-weight: 200;
  font-size: 1vw;
}

.bg1 {
  background: url("./images/self.jpeg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 580px;
}

.bg-base {
  background: url("./images/bgwhite.avif");
  background-repeat: no-repeat;
  background-size: cover;
}

#about-details {
  font-size: 1.5rem;
}

/* About me end*/

.title-1{
	font-size: 2rem;	
}

.title-2 {
    color: white;
    font-weight: bold;
    background-color: #4e5d6d;
    border-radius: 25px;
    font-size: 1rem;
    padding: .5rem;
    float: right;
}

/* contact logo start */
#linkedin {
	height: 25px;
	width: 25px;
	align: left;
 	position: absolute;
  	top: 85%;
  	left: 46%;
}

#gmail {
	height: 25px;
	width: 45px;
	align: left;
	position: absolute;
  	top: 85%;
  	left: 50%;
}

#instagram {
	height: 25px;
	width: 25px;
	align: left;
	position: absolute;
  	top: 85%;
  	left: 55%;
}

#send {
	background-color: #dc9337;
}
/* contact logo end */

.d-flex {
	display: flex;
}

.align-items-center {
	align-items: center;
}

.text-center {
  text-align: center;
}

/* Project Start */
.image-gallery {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F5F5F5;
}

.images-selector input {
  position: absolute;
  z-index: 10;
}

.images-selector input:checked + .img-card {
  filter: none;
  transform: scaleY(1);
}

.img-card {
  display: inline-block;
  width: 250px;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: all 200ms ease-in;
  filter: grayscale(1) opacity(.8);
}

.img-card:hover {
  filter: grayscale(0) opacity(1);
/*   box-shadow:  0px 8px 4px rgba(0, 0, 0, 0.3),
               0px 10px 2px rgba(0, 0, 0, 0.1); */
}

.img-card::before,
.img-card::after {
  transform: scaleY(-1);
}

/*reflection*/
.img-card:hover::after {
  content: '';
  background-image: inherit;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  width: inherit;
  height: 40%;
  position: absolute;
  bottom: -25%;
}
/*fade reflection*/

/* Project End */

/* Contact Me Start */
.bg-back {
  background: url("./images/bgleaf2.png");
  background-repeat: no-repeat;
  background-size: cover;
}
/* Contact Me End */


/* FOOTER Start*/           
#footer {
background: url("./images/bgleaf3.jpg");
background-repeat: no-repeat;
background-size: cover;
justify-content: center;
align-items: center;
}
/* FOOTER END */
